$semi-grey: rgb(225, 225, 225);
$semi-white: rgb(237, 237, 237);
$red-color: #d93a00;

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 57px;
	padding: 0 8px;
    border-bottom: 1px solid $semi-grey;

	&__search {
		position: relative;
		padding: 0 25px;
		width: 754px;
		height: 40px;
		border-radius: 15px;
		background-color: #e7e6e6;
		border: none;
	}
    &__input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 651px;
        height: 40px;
        padding: 0 15px;
        border-radius: 25px;
        border: none;
        background-color: $semi-white;
        background-image: url('./search.png');
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: 2%;
        &:hover {
            background-color: $semi-grey;
        }
    }
}
.input {
    align-items: center;
    height: 36px;
    width: 559px;
    padding: 8px 0;
    border: none;
    background-color: transparent;
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.actions {
    display: flex;
    gap: 10px;
    & &__app {
        &-btn {
            display: flex;
            gap: 10px;
            align-items: center;
            height: 38px;
            padding: 0 12px;
            border-radius: 999px;
            font-size: 14px;
            text-transform: capitalize;
            box-shadow: none;

            color: black;
            background-color: $semi-white;

            &:hover {
                box-shadow: none;
                background-color: $semi-grey;
            }
        }
        &-img {
            height: 16px;
        }
    }

    & &__login-btn {
        height: 38px;
        padding: 0 12px;
        border-radius: 999px;
        font-size: 14px;
        text-transform: capitalize;
        box-shadow: none;

        background-color: $red-color;
        &:hover {
            box-shadow: none;
            background-color: #8b2601;
        }
    }
    & &__icon-btn {
        &:hover {
            background-color: $semi-grey;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    &__img {
        width: auto;
        height: 38px;
        &-wordmark {
            height: 22px;
            width: auto;
        }
    }
}

.search-wrapper {
	display: flex;
	align-items: center;
}

.search-icon {
	height: 16px;
	position: absolute;
	z-index: 10;
	padding: 0 8px;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 700;
	font-size: 22px;
	color: #FF4500;
	cursor: pointer;

	&__main-icon {
		height: 32px;
		padding-right: 8px;
	}
}

.actions {
	display: flex;
	align-items: center;
	gap: 5px;

	&__qr-icon {
		position: absolute;
		z-index: 10;
		padding-left: 5px;
		height: 20px;
	}

	& &__getapp-btn {
		position: relative;
		background-color: #e7e6e6;
		color: black;
		width: 104px;
		border-radius: 15px;
		font-size: 14px;
		text-transform: none;

	}

	& &__getapp-btn:hover {
		background-color: #b6b4b4;
	}

	& &__login-btn {
		background-color: #FF4500;
		border-radius: 20px;
	}

	& &__login-btn:hover {
		background-color: #b83100;
	}

	& &__horiz-btn {
		border-radius: 50%;
		padding: 3px;
		height: 39px;
		width: 39px;
		transition: .3s;
	}

	& &__horiz-btn:hover {
		background-color: rgb(174, 174, 174);
	}
}


.modal {
	&__wrap {
		padding: 24px 80px;
		width: 528px;
	}

	&__title {
		font-size: 24px;
		margin-bottom: 30px;
	}

	&__inputs {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	& &__button {
		margin-top: 30px;
	}

	&__link {
		color: #0045ac;
		cursor: pointer;

		&-wrap {
			margin-top: 30px;
		}

	}
}
